<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Printer" value="ZDesigner 105SL 203DPI (1)"/>
		<add key="Count" value="1"/>
		
		<add key="ZPL" value="^XA
      ^CI36
       ^BY48,48^Fo25,28^BXN,5,200,0,0,1
      ^FH\^FD#p1#^FS
    ^Fo95,20^A0N,30,30^FH\^FD#p1#^FS
    ^PQ1,0,1,Y^XZ"/>
	</appSettings>
</configuration>